<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather-BDD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CD8A4E724605E6200B14412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CD8A4FD24605E6400B14412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CD8A50824605E6400B14412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CD8A5302460AFA700B14412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
